
<section class="section">
        <div class="container is-max-desktop box">
            {{#if team}}
                <h1 class="title">Editing team with ID {{ team.id }}</h1>
            {{else}}
                <h1 class="title">Creating New Team</h1>
            {{/if}}
            <form method="POST" action="/teams/save" enctype="multipart/form-data">
                <div class="field">
                    <label class="label" for="area">Area</label>
                    <input class="input" type="text" name="area" placeholder="Area" value="{{team.area}}">
                </div> 
                <div class="field">
                    <label class="label" for="areaID">Area ID</label>
                    <input type="text" class="input" name="area-id" placeholder="Area ID" value="">
                </div>
                <div class="field">
                    <label class="label" for="name">Name</label>
                    <input class="input" type="text" name="name"  placeholder="Name" value="{{team.name}}">
                </div>

                <div class="field">
                    <label class="label" for="shortName">Short Name</label>
                    <input class="input" type="text" name="shortName"  placeholder="Short name" value="{{team.shortName}}">
                </div>

                <div class="field">
                    <label class="label" for="tla">TLA</label>    
                    <input class="input" type="text"  name="tla" placeholder="TLA" value="{{team.tla}}">
                </div>
                <div class="field">
                    <label class="label" for="address">Address</label>
                    <input class="input" type="text" name="address" placeholder="Address" value="{{team.address}}">
                    
                </div>
                <div class="field">
                    <label class="label" for="phone">Phone</label>
                    <input class="input" type="text" name="phone"  placeholder="Phone" value="{{team.phone}}">
                    
                </div>
                <div class="field">
                    <label class="label" for="website">Website</label>
                    <input class="input" type="text" name="website" placeholder="Website" value="{{team.website}}">
                    
                </div>
                <div class="field">
                    <label class="label" for="email">Email</label>
                    <input class="input" type="text" name="email" placeholder="Email" value="{{team.email}}">
                    
                </div>
                <div class="field">
                    <label class="label" for="founded">Founded</label>
                    <input class="input" type="number" name="founded" placeholder="Founded" value="{{team.founded}}">
                    
                </div>
                <div class="field">
                    <label class="label" for="clubColors">Club Colors</label>
                    <input class="input" type="text" name="clubColors" placeholder="Club Colors" value="{{team.clubColors}}">                    
                </div>
                <div class="field" >
                    <label class="label ">Crest</label>
                    <div class="file is-boxed">
                        <label class="file-label">
                            <input class="file-input" type="file" placeholder="Crest" value="{{team.cresturl}}">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                        </label>  
                    </div>
                </div>
                <div class="control pt-4">
                    <button type="submit" class="button is-link">Submit</button>
            </form>
        </div>
</section>