<section class="container box">
    <div class="has-text-centered mb-4">
        <a href="/teams/edit/-1" class="button is-primary is-medium">New Team</a>
    </div>
    <table class="table is-fluid is-hoverable container">
        <thead>
        <tr>
            <th class="has-text-centered" >ID</th>
            <th class="has-text-centered">TLA</th>
            <th class="has-text-centered">Team</th>
            <th class="has-text-centered">Founded</th>
            <th class="has-text-centered">Crest</th>
            <th class="has-text-centered">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each teams}}
            <tr>
                <th class="has-text-centered">{{id}}</th>
                <td class="has-text-centered">{{tla}}</td>
                <td class="has-text-centered">{{shortName}}</td>
                <td class="has-text-centered">{{founded}}</td>
                <td class="has-text-centered"><img src="{{crestUrl}}" height="40" width="40" alt="Manchester United" onerror="this.onerror=null; this.src='https://www.svgrepo.com/show/221430/no-photo.svg'"></td>
                
                <td>
                    <div class="is-flex is-justify-content-space-between box">
                        <a href="/teams/{{id}}" class="button is-small is-link">View</a>
                        <a href="/teams/edit/{{id}}" class="button is-small is-warning">Edit</a>
                        <form action="/teams/delete/{{id}}" method="POST">
                            <button class="button is-small is-danger">Delete</a>                    
                        </form> 
                    </div>
                </td>
                
            </tr>
        {{/each}}
    
        </tbody>
    </table>

    {{!-- <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
    </div>
        <form action="/teams/delete/{{id}}" method="POST" style="display: inline-block">
            <button class="button is-small is-danger">Delete</button>
        </form>
        <button class="modal-close is-large" aria-label="close"></button>
    </div> --}}
</section>
