<div class="container">
    {{#with team}}
        <div class="tile is-ancestor has-text-white">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification has-background-grey">
                            <p class="subtitle"><strong>Short Name: </strong>{{shortName}}</p>
                            <p class="subtitle"><strong>TLA: </strong>{{tla}}</p>
                        </article>
                        <article class="tile is-child notification has-background-grey">
                            <p class="subtitle"><strong>Since</strong> {{founded}}</p>
                            <p class="subtitle"><strong>Colors:</strong> {{clubColors}}</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification has-background-grey-lighter has-text-black">
                            <p class="title has-text-centered">{{name}}</p>
                            <figure class="image is-4by3">
                                <img src="{{crestUrl}}" alt="{{shortName}} logo">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification has-background-grey">
                        <div class="content">
                        <p class="subtitle"><strong>Website: </strong>{{website}}</p>
                        <p class="subtitle"><strong>Email: </strong>{{email}}</p>
                        <p class="subtitle"><strong>Address: </strong>{{address}}</p>
                        <p class="subtitle"><strong>Phone: </strong>{{phone}}<p>
                            <!-- Content -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification has-background-grey">
                    <div class="content">
                        <p class="subtitle"><strong>Stadium: </strong>{{venue}}</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
        </div>
    {{/with}}
</div>
